/bin/
*.class
# Package Files #
*.jar
*.war
*.ear
*.db

# Windows image file caches #
Thumbs.db

# Folder config file
Desktop.ini

# Eclipse #
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swap
*~.nib
.classpath
.settings/
.ladpath
/src/main/resources/rebel.xml

# DB properties #
dbinfo.properties